@media only screen and (min-width: 1000px) {
    
  
    header {
        background-color:#90AFC5;
        text-align:center;
        padding: .5rem;
        color: white;
    }
    
    header > img {
        width: 150px;
        height: auto;
        vertical-align: middle;
    }
    .headertext {
        display: inline-block;
        vertical-align: middle;
    }
    
    .headertext h1 {
        font-size: 3rem;
    
    }
    
    .subheading {
        font-size: 1.1rem;
        color:#2E4600;
        font-style: italic; 
    }
    
    .currentconditions {
        display: inline-block;
        margin: 1rem 0 1rem 5rem;
        padding: 1.2rem;
        vertical-align: middle;
        color: #fff;
        background-color: rgba(0, 87, 25, .75);
        border: 1pt solid rgba(0, 87, 25,1);
        font-size: 1.1rem;
    }
    
    .currentconditions img {
        width: 100px;
        height: auto;
    }
    
    #main-table {
       background-color: #505160;
       overflow: hidden;
       text-align: center;
    }
    
    nav
    nav li {
        display: inline-flex;
    }
    nav li a {
        color: black;
        padding: 1.2rem;
        text-align: center;
        text-decoration: none;
    }
    nav li a :hover {
        color: #90AFC5;
    }
    
    nav button {
      display: none;
    }
    
    .hamburger {
        display: none;
    }
    
    .view, img{
        width: 80%;
        height: auto;
    }
     .weathsumm{
        position: absolute;
        top: 11%;
        left: 14%;
        padding: 20px;
    }
    
     main .town {
        display: grid;
        grid-template-columns: 1.1fr 1.1fr .5fr;
        grid-template-rows: 1fr;
        text-align: center;
        grid-gap: 10px;
    }
    }
    
