table{
    font-family: Ubuntu sans-serif; 
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 8px 8px 10px #628ca6;
    margin-top: 200px;

  }

  #head{
      background-color: #7fb9c2;
      font-size: 25px;
      font-weight: bolder;
  }
  td, th {
    border: 1px solid #7fb9c2;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color:#e7f0ed;
  }
  
  table, td, th {
    border: 1px solid #7fb9c2;
    border-collapse: collapse;
  }
  th {
    background-color:#628ca6;
     
  }
  
  td {
    font-size:1.1rem;
  }
  
  tr {
   align-content: center;
  
  }

  td tr{
      align-content: center;
  }
  
  .header{
    color: #e7f0ed;
    font-weight: bolder;
  }
  
  .hilight {
  background-color: #7fb9c2;
  color: #e7f0ed;
  }
  
  main{
    box-shadow: #21a076ef;
  }

  #bf{
      font-style: italic;
  }

  #ftinfo{
      background-color: #7fb9c2;
      font-weight: bold;
  }
    