/* .grid-container {
    background-color: #505160;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f';
}

.grid-container div {
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */


#gallpage h1{
    padding: 15px 0px 15px 5%;
    margin: 0px;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
    grid-gap: 20px;
}

.gallshadow {
    background-color: darkslategray;
}

.img {
    max-width: 100%;
}

.info {
    display: none;
}

@media only screen and (min-width: 47.5em){
    /* #gallpage {
        padding-left: 4%;
    }

    h1 {
        text-align: left;
        color: darkcyan;
        font-size: 55px;
    }

    .grid-container {
        grid-template-columns: 50% 50%;
    } */
}


/*Lesson 7 Gallery style*/

@media only screeen and (min-width: 64em) {
    /* #gallpage {
        padding-left: 4%;
    }

    h1{
        text-align: left;
        color: darkcyan;
        font-size: 55px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 30%);
    }

    .gall-shadow:hover{
        box-shadow: 0 0 18 #888888;
    }

    .cardinfo {
        display: block;
        padding: 7px 9px;
        font-style: oblique;
    } */
}

#gallpage {
    padding-left: 4%;
}

h1 {
    text-align: left;
    color: darkcyan;
    font-size: 55px;
}

.grid-container {
    grid-template-columns: 50% 50%;
}


#gallpage {
    padding-left: 4%;
}

h1{
    text-align: left;
    color: darkcyan;
    font-size: 55px;
}

.grid-container {
    grid-template-columns: repeat(3, 30%);
}

.gall-shadow:hover{
    box-shadow: 0 0 18 #888888;
}

.cardinfo {
    display: block;
    padding: 7px 9px;
    font-style: oblique;
}




