 {
    box-sizing: border-box;
}



body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   
}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: ______;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {
  
}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flow-root;
    background-color: rgba(0, 87, 25, .75);
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 1rem;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

nav ul li:first-child a {border-left: none;}

nav ul li.active a {
  background-color: #7D4427;
  color: #fff;
}

nav ul li a:hover {
  background-color: #FB6542;
  color: #333;
}

.main-table {
  padding: 0 2%;
  min-height: auto;
}

main h2 {
  font-size: 2rem;
  text-align: center;
}

.maincontent img {
    margin: auto;
    width: 100%;
}

.maincontent img {width: 100%;}

footer {
  background-color: #7D4427;
  padding: .5rem 2%;
  text-align: center;
}

section.forecast {
    display: none;
}

.weathersummary{
  position: absolute;
  top: 80px;
  left: 40px;
  width: 40%;
  height: 40%;
  color: white;
  line-height: 0.3;
  background-color: #505160;
  opacity: 0.8;
  padding: 10px;
}

.article {
  text-align: center;
  background-color: #FB6542;
  height: 20px;
  color: black;
  padding: 0;
}

#family {
  float: right;
  width: 50%;
  height: auto;
}

#map {
  width: 26%;
  height: auto;
  float: right;
}

#camp {
  width: 39%;
  height: auto;
  float: left;
}

.footnote {
  display: inline-block;
  text-align: center;
  background-color: #8D230F;
  color: white;
  margin: 1.25rem;
  padding: .5rem;
  max-width: 100%;
  line-height: 1.6;
  font-size: 13px;
}


