/* Delete these CSS comments after reading. */

/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    ____________/* Declare the base font-family */
}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: ______;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {
color: white;
}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flow-root;
    background-color: rgba(0, 87, 25, .75);
}

nav ul li {
    display: inline;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

nav ul li:first-child a {border-left: none;}

nav ul li.active a {
  background-color: #7D4427;
  color: #fff;
}

nav ul li a:hover {
  background-color: #FB6542;
  color: #333;
}

main {
  padding: 0 2%;
  min-height: 10rem;
}
main h2 {
font-size: 3rem;
}

main figure.town {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure.town img {width: 100%;}

footer {
  background-color: #7D4427;
  padding: .5rem 2%;
  text-align: center;
}

section.forecast {
    display: none;
}
