
{
    box-sizing: border-box;
}



body {
    font-size: 16px;
   
}

header,
nav,
main,
footer {
    
    max-width: ;
   
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}

main {}

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}

footer {}

section.forecast {
    display: none;
}


header,
nav,
main,
footer {
    
    max-width: ______;
    
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}

main {}

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}

footer {}

section.forecast {
    display: none;
}
