.grid-container{
    background-color: white;
    text-align: center;
    width: 300px;
    font-family: font-family 'Ubuntu', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    
    /* Grid Container */ 
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
      
}

h2{
color: blue;
}
h1{
    color: blue;
}


.body{
    background-color: gray;
    font-family: font-family 'Ubuntu', sans-serif;
    
}

