.box1{
    background-color: white;
    text-align: center;
    width: 300px;
    font-family: font-family 'Ubuntu', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2{
color: blue;
}
h1{
    color: blue;
}


.body{
    background-color: gray;
    font-family: font-family 'Ubuntu', sans-serif;
    
}

