@media only screen and (min-width: 64rem) {
    
    nav button { display:none;} 
    
    nav ul li {
      float: left;
    }

    nav ul li a {
      border: none;
      border-right: 1px solid rgba (0,0,0,0.3);
      padding: .6rem 1rem;
    }

    nav ul.hide {display: block;}
    
    box-sizing: border-box;
    
    .maincontent {
        position: relative;
    }
    
    
  .weathersummary{
  position: absolute;
  top: 80px;
  left: 40px;
  width: 40%;
  height: 40%;
  color: white;
  line-height: 0.3;
  background-color: #505160;
  opacity: 0.8;
  padding: 10px;
}
    
.value {
  text-align:right;
  position: relative;
  bottom: 30px;
}

.lable {
  text-align:left;
}
}
