body {
    background-color: #CFCFCF;
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    max-width: 375px;
    justify-items: center;
    font-size: 8px;
}

.row2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2 p{
    margin-top: -4px;
    padding-left: 10px;
    color: #001b3673;
}

.row2 span {
    margin: 12px 25px 0;
    color: #001b3673;
}

#name{
    font-size: 10px;
}


.row2{
    width: 100%;
    background: #001B36;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.air{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.air span{
    color: rgba(256, 256, 256, .4);
    text-align: center;
}

.air h2{
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0px;
    text-align: center;
}

.row3{
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;
    color: #001B36;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.row3 p{
    font-size: 18px;
    line-height: 0px;
    margin: 10px;
    opacity: 0.6;
}

.info {
    margin: 30px 10px;
}

.info span {
    font-weight: bold;
}

.bottom-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-row p{
    text-align: center;
    color: #001b3673;
}

#big{
    margin: 20px;
}