.pan{
    max-width: 50%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


h1{
  text-align: center;
  color: cadetblue;
     
}

.subheading{
    text-align: center;
    font-size: xx-large;
}