 /* Large View  */
 @media only screen and (min-width: 34.5em){
 
 @media only screen and (min-width: 54.5em){
    #navigation {
        width: 900px;
        margin: 16px auto;
    }

   


/* html body div#wrap ul#vaca li.fav {
    color: red;
    font-weight: bold;
  } */



header {
    background-color:dimgrey;
    text-align:center;
    padding: .5rem;
    color: white;

}


body{
    background-color: dimgrey;
}

main{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr .3fr;
    background-color: darkslategray;
}

main section {
	margin: 0.5rem;
	border: 4px solid #bbb;
	padding: 0 1rem;
	
}

section:nth-child(3) {
    grid-column: span 2;
}

.fav {
    color:rgb(208, 219, 53);
    font-weight: bold;
  }

  /* .fav {
      color: darkgoldenrod;
  } */

  ul#vaca li {
    font-weight: normal;
    font-size: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


  /* body div#wrap ul#vaca li.fav {
    color: rgba(230, 96, 6, 0.89);
    font-weight: bold;
  } */



  /* Using the (!important declaration)  */
  /* .fav {
      background-color: darkgoldenrod;
  }

  #mountain {
      background-color: dodgerblue;
  }

  li {
      background-color: firebrick !important;
  } */


 article#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    text-align: center;
    
 }

#img {
    max-width: 100%;
    max-height: 520px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

 p {
     font-size: 20px;
 }

 
}
 }