header {
    background-color:dimgrey;
    text-align:center;
    padding: .5rem;
    color: white;

}


body{
    background-color: dimgrey;
}

main{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr .3fr;
    background-color: darkslategray;
}

main section {
	margin: 0.5rem;
	border: 4px solid #bbb;
	padding: 0 1rem;
	
}

section:nth-child(3) {
    grid-column: span 2;
}

.fav {
    color:rgb(208, 219, 53);
    font-weight: bold;
  }

  ul#vaca li {
    font-weight: normal;
    font-size: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


 article#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    text-align: center;
    
 }

 p {
     font-size: 20px;
 }

 

