/* samll/phone view */

    
    @media only screen and (min-width: 375px){
        /* nav {
            max-width: 100%;
        }
        #navigation {
            grid-template-columns: repeat(7,auto);
        }
        #navigation li{
            display: block; /*change state in small view*/
        /* }
        #navigation a {
            text-align: center;
        }
        #navigation li:first-child{
            display: none;
        }
    }  
     */

     main{
         display:grid;
         grid-template-rows: repeat(5 auto);
     }

     header{
        grid-row: 1/2;
     }

     .row1{

    
     }

     .row2{
        
    }

    .row3{
        
    }

    footer{

    }
    }

    @media only screen and (min-width: 768px){
        #navigation {
            width: 800px;
            margin: 16px auto;
        }
    }
    
